@font-face {
  font-family: "OpenSans-Light";
  src: url("fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #464646;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header_index {
  background-color: rgb(247, 226, 150);
}
.header_catalog {
  background-color: rgb(247, 226, 150);
}
.footer_index,
.footer_catalog {
  background-color: rgb(70, 70, 70);
}
.user_navigation_header li,
.user_navigation_header_catalog li,
.main_navigation_header li,
.dropdown li,
.servis_navigation_footer li,
.user_navigation_footer li,
.user_navigation_footer_catalog li,
.pagination_list,
.pagination,
.breadcrumbs li,
.logo_partner,
.index_range,
.info_device ul {
  list-style: none;
}
.user_navigation_header a,
.user_navigation_header_catalog a,
.main_navigation_header a,
.dropdown_plus a,
.dropdown a,
.pagination_list a {
  color: #000000;
}
.main_navigation_header a,
.dropdown_plus a {
  text-transform: uppercase;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}
.servis_navigation_footer {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.user_navigation_header:hover,
.user_navigation_header:focus,
.user_navigation_header_catalog:hover,
.user_navigation_header_catalog:focus {
  color: #635a3c;
}
.main_navigation_header:hover,
.main_navigation_header:focus {
  color: #635a3c;
}
.user_navigation_header:active,
.user_navigation_header_catalog:active,
.catalog_user_exit,
.main_navigation_header:active {
  color: #ac9e69;
}
.dropdown {
  line-height: 36px;
}
.dropdown li:hover,
.dropdown li:focus {
  color: #635a35;
}
.dropdown li:active {
  color: #ac9d5c;
}
.servis_navigation_footer a {
  color: #ffffff;
}
.logo_device_header img:hover,
.logo_device_header img:focus,
.logo_device_footer img:hover,
.logo_device_footer img:focus,
.user_navigation_header a:hover,
.user_navigation_header a:focus,
.user_navigation_header_catalog a:hover,
.user_navigation_header_catalog a:focus,
.main_navigation_header a:hover,
.main_navigation_header a:focus,
.dropdown a:hover,
.dropdown a:focus,
.servis_navigation_footer a:hover,
.servis_navigation_footer a:focus,
.logo_html img:hover,
.logo_html img:focus {
  opacity: 0.6;
}
.logo_device_header:active,
.logo_device_footer:active,
.user_navigation_header a:active,
.user_navigation_header_catalog a:active,
.catalog_user_exit a,
.main_navigation_header a:active,
.dropdown a:active,
.servis_navigation_footer a:active,
.logo_html:active {
  opacity: 0.3;
}
.search_container {
  width: 440px;
  position: relative;
}
.search_container input {
  width: 356px;
  height: 49px;
  padding-left: 40px;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
}
.search_container input::placeholder {
  color: #ac9e69;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}
.search_container input:hover::placeholder {
  color: #635a3c;
}
.search_container input:focus {
  height: 47px;
  color: #000000;
  border-bottom: 2px solid #000000;
}
.search_container::before {
  content: "";
  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: 15px;
}
.search_button {
  width: 80px;
  height: 45px;
  border: 2px solid #000000;
  color: #000000;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  position: absolute;
  right: 44px;
  bottom: 0;
}
.search_button {
  display: none;
}
.search_container input:focus + .search_button {
  display: block;
}
.search_button:hover {
  display: block;
  border: 2px solid #000000;
  width: 81px;
  height: 45px;
  color: #ffffff;
  background-color: #000000;
}
.search_container button:active {
  display: block;
  border: 2px solid #000000;
  width: 81px;
  height: 45px;
  color: #4d4d4d;
  background-color: #000000;
}
.user_navigation_footer a,
.user_navigation_footer_catalog a {
  color: #c8c8c8;
  opacity: 0.7;
}
.user_navigation_footer a:hover,
.user_navigation_footer a:focus,
.user_navigation_footer_catalog a:hover,
.user_navigation_footer_catalog a:focus {
  color: #ffffff;
}
.user_navigation_footer a:active,
.user_navigation_footer_catalog a:active {
  color: #7e7e7e;
  opacity: 0.3;
}
.user_navigation_footer img:active,
.user_navigation_footer_catalog img:active {
  opacity: 0.3;
}
.user_navigation_footer img:hover,
.user_navigation_footer img:focus,
.user_navigation_footer_catalog img:hover,
.user_navigation_footer_catalog img:focus {
  opacity: 0.6;
}
.catalog_user_exit_footer a {
  color: #7e7e7e;
  opacity: 0.3;
}
.footer_index p,
.footer_catalog p {
  color: #ffffff;
}
.social svg {
  opacity: 0.3;
}
.social svg:hover,
.social svg:focus {
  opacity: 0.6;
}
.social svg:active {
  opacity: 0.1;
}
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page_title_catalog,
.info_device h2 {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: #000000;
}
.breadcrumbs a {
  color: #b2b2b2;
  opacity: 0.3;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #666666;
  opacity: 0.6;
}
.breadcrumbs a:active {
  color: #e5e5e5;
  opacity: 0.3;
}
.breadcrumbs_actual {
  color: #b2b2b2;
  opacity: 0.3;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.goods_sort_item a {
  color: #a4a4a4;
  font-family: "OpenSans-Regular", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}
.sidebar_title h2,
.goods_sort h2,
.pagination a {
  list-style: none;
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.index_range_category,
.goods_category {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.filter_item label {
  color: #000000;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
}
.sidebar_show_link button,
.form_in_cart button,
.write_us_container button {
  padding: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  z-index: 1;
}
.write_us label {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.goods_price {
  color: #464646;
  font-family: "Gilroy-Light", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}
.list_carriers {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-weight: bold;
}
.info_device a {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}
.goods_item_new {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.filter_range_price label {
  color: #bebebe;
  font-family: "Gilroy-Light", "Gill Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.form_compare button {
  color: #7f7f7f;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}
.slyde_description_link a  {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}
.filter_item h3 {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.01em;
}
.logo_partner_dj img:hover,
.logo_partner_dj img:focus {
  background-image: url(../img/png/logo_1_hover.png);
}
.logo_partner_spgadgets img:hover,
.logo_partner_spgadgets img:focus {
  background-image: url(../img/png/logo_2_hover.png);
}
.logo_partner_gopro img:hover,
.logo_partner_gopro img:focus {
  background-image: url(../img/png/logo_3_hover.png);
}
.logo_partner_vive img:hover,
.logo_partner_vive img:focus {
  background-image: url(../img/png/logo_4_hover.png);
}
.pagination {
  background-color: #ebebeb;
}
.goods_price {
  color: #000000;
  font-family: "Gilroy-Light", "Gill Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.header_index_container {
  width: 1160px;
  min-height: 299px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7e296;
}
.header_catalog_container {
  width: 1160px;
  min-height: 186px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7e296;
}
.header_index,
.header_catalog {
  width: 1039px;
  min-height: 100px;
  padding-right: 61px;
  padding-left: 60px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.logo_device_header {
  margin-top: -19px;
  margin-right: 938px;
  margin-left: auto;
}
.user_navigation_header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.user_navigation_header_catalog {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.user_navigation_header li:nth-child(2) {
  margin-right: 65px;
  margin-left: 238px;
}
.user_navigation_header_catalog li:nth-child(2) {
  margin-left: 20px;
}
.user_navigation_header_catalog li:nth-child(3) {
  margin-right: 65px;
  margin-left: 90px;
}
.main_navigation_header {
  width: 1040px;
  padding: 0;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.main_navigation_header li:not(:last-child) {
  margin-right: 20px;
}
.main_navigation_header li:nth-child(2) {
  margin-left: auto;
}
.main_navigation_header li:nth-child(3) {
  margin-right: 93px;
  margin-left: 60px;
}
.dropdown_container {
  display: none;
}
.dropdown_container_show {
  display: block;
  z-index: 2;
}
.dropdown ul {
  padding: 0;
  margin: 0;
}
.dropdown_plus_link img {
  margin-bottom: -2px;
}
.dropdown_plus {
  position: relative;
}
.dropdown_plus::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 7px;
  width: 16px;
  height: 16px;
  background-image: url(../img/png/plus.png);
}
.dropdown {
  width: 1039px;
  min-height: 90px;
  padding-right: 61px;
  padding-bottom: 20px;
  padding-left: 60px;
  margin-top: auto;
  background-color: #f7e296;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-self: flex-end;
}
.dropdown ul:first-child {
  width: 239px;
}
.dropdown ul:nth-child(2) {
  width: 200px;
}
.dropdown_catalog {
  margin: 0 auto;
  margin-bottom: -100px;
}
.info_device {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.info_device h2,
.info_device p,
.info_device ul {
  margin: 0;
  padding: 0;
}
.excerpt_container {
  width: 560px;
  min-height: 464px;
  padding-top: 0;
  padding-bottom: 95px;
}
.excerpt_about_us_img {
  margin: 0;
  padding: 0;
}
.excerpt_container h2 {
  margin-top: 40px;
  margin-bottom: 60px;
}
.list_carriers img {
  margin-right: 26px;
}
.excerpt_content_container,
.excerpt_location_container {
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.excerpt_content_container {
  width: 461px;
}
.excerpt_location_container {
  width: 560px;
}
.footer_index,
.footer_catalog {
  padding-top:65px;
  padding-bottom: 65px;
}
.footer_index_container,
.footer_catalog_container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}
.navigation_footer_container {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.user_navigation_footer,
.user_navigation_footer_catalog {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.user_navigation_footer li:nth-child(2) {
  margin-right: 41px;
  margin-left: 44px;
}
.user_navigation_footer_catalog li:nth-child(2) {
  margin-right: 44px;
  margin-left: 20px;
}
.user_navigation_footer_catalog li:nth-child(3) {
  margin-right: 40px;
}
.footer_index_info,
.footer_catalog_info {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.servis_navigation_footer {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.servis_navigation_footer li:nth-child(2) {
  margin-right: 38px;
  margin-left: 38px;
}
.footer_other_sites {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.social {
  width: 141px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  margin-right: 483px;
  margin-left: auto;
}
.social,
.logo_html {
  margin-top: 8px;
}
.catalog_main_content {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.catalog_title_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 61px;
}
.catalog_title {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.catalog_title h1{
  margin-bottom: 0;
  z-index: -1;
}
.breadcrumbs {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.breadcrumbs li {
  margin-right: 40px;
}
.catalog_content {
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 328px;
  background-color: #efefef;
}
.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: #efefef;
}
.sidebar_title h2 {
  position: relative;
  width: 268px;
  margin: 0;
  padding: 16px 0 16.5px 60px;
  display: flex;
  align-items: center;
  background-color: #dcdcdc;
}
.sidebar_title h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: #dcdcdc;
}
.filter {
  width: 268px;
  padding: 0;
  padding-top: 20px;
}
.filter_item {
  position: relative;
  width: 268px;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  padding-top: 5px;
}
.filter_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 201px;
  background-color: #000000;
}
.goods {
  width: 832px;
}
.goods_sort {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  width: 760px;
  padding: 3px 0;
  padding-left: 72px;
}
.goods_sort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: #ebebeb;
}
.goods_sort h2 {
  margin-right: 50px;
}
.goods_sort_list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0 18px 0 4px;
  list-style-type: none;
}
.goods_sort_item {
  margin-right: 30px;
}
.goods_sort_item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.goods_sort_item a:active {
  color: rgba(0, 0, 0, 1);
}
.goods_sort_item_active a {
  color: rgba(0, 0, 0, 1);
}
.goods__sort-item--active a:hover {
  color: rgba(0, 0, 0, 1);
}
.goods_sort_updown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 41px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.goods_item:nth-child(2n) {
  margin-right: 0;
}
.goods_order img {
  opacity: 0.2;
}
.goods_order_active img {
  opacity: 1;
}
.goods_order img:hover,
.goods_order img:focus {
  opacity: 0.4;
}
.goods_order:active img {
  opacity: 1;
}
.goods_list {
  display: flex;
  flex-wrap: wrap;
  width: 832px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 72px;
}
.goods_item {
  width: 360px;
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}
.goods_item:nth-child(2n) {
  margin-right: 0;
}
.goods_item_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 209px;
  padding-top: 171px;
  margin: 0 auto;
  background-color: rgba(238, 238, 238, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goods_item_hover_container {
  display: none;
}
.goods_item:hover .goods_item_hover_container {
  display: block;
}
.goods_items_info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0;
  padding-top: 24;
  padding-bottom: 45px;
}
.goods_items_info h3 {
  width: 255px;
  margin: 0;
}
.goods_item_new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 29px;
  right: 27px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 2px solid #d7d7d7;
  border-radius: 50%;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  padding: 0;
  margin-top: 35px;
  margin-right: 0;
  margin-bottom: 76px;
  margin-left: 72px;
}
.pagination_control_prev,
.pagination_control_next {
  display: flex;
  width: 125px;
  justify-content: center;
  padding: 23px 0;
}
.pagination_list {
  width: 460px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination_list li {
  padding: 0px 15px;
}
.pagination_control:hover,
.pagination_control:focus {
  background-color: #d9d9d9;
}
.pagination_control:active {
  color: #666666;
}
.pagination_item a {
  color: #a4a4a4;
}
.pagination_item_active a {
  color: #000000;
}

.index_range {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
  display: flex;
}
.index_range_icon_container {
  width: 160px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.index_range_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_range_icon_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.index_range_icon_container:not(:last-child) {
  margin-right: 40px;
}
.index_range_icon {
  background-color: #f7e296;
  width: 160px;
  height: 160px;
  margin-bottom: 28px;
}
.index_range_icon_container:hover .index_range_icon,
.index_range_icon_container:focus .index_range_icon {
  background-color: #f0c52e;
}
.index_range_icon_container:active .index_range_icon_img {
  opacity: 0.3;
}
.index_range_icon_container:active .index_range_category {
  color: #b2b2b2;
  opacity: 0.3;
}
.logo_partner {
  width: 1160px;
  min-height: 288px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.write_us_container {
  padding: 0;
  width: 860px;
  height: 517px;
  padding: 0;
  padding-left: 100px;
  padding-bottom: 36px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 15px 20px 3px #d4d4d4;
}
.write_us {
  padding: 0;
  margin: 0;
  width: 760px;
  margin-top: 90px;
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.write_us_item {
  margin: 0;
  width: 360px;
  margin-bottom: 22px;
}
.write_us_item input {
  width: 340px;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  color: #adadad;
}
.write_us_item label,
.write_us_textarea label {
  display: block;
}
.write_us_item input,
.write_us_textarea input {
  outline: none;
  font: inherit;
  padding-left: 20px;
}
.write_us_item input:hover {
  color: #a8a8a8;
  background-color: #ebebeb;
}
.write_us_item input:focus {
  width: 334px;
  height: 44px;
  color: #464646;
  background-color: #ffffff;
  border: 3px solid #f7e296;
}
.write_us_item_input_invalid {
  color: #b09f9f;
  background-color: #f6dada;
}
.write_us_textarea {
  width: 760px;
  margin: 0;
  margin-bottom: 35px;
}
.write_us_textarea textarea {
  padding: 0;
  padding-top: 10px;
  width: 760px;
  height: 155px;
  background-color: #f2f2f2;
  border: none;
  color: #adadad;
}
.wtite_us_icon_close_container {
  width: 55px;
  height: 55px;
  margin-top: 21px;
  margin-right: 21px;
  position: relative;
}
.wtite_us_icon_close img {
  position: absolute;
  left: 0;
  top: 0;
}
.map_big_container {
  width: 960px;
  height: 559px;
  box-shadow: 0px 15px 20px 3px #d4d4d4;
  position: relative;
  overflow: hidden;
}
.map_big {
  width: 960px;
  height: 559px;
  background-image: url(../img/png/map_big.png);
  background-repeat: no-repeat;
}
.map_big_icon_close img {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 21px;
  margin-right: 21px;
}
.wtite_us_icon_close img,
.map_big_icon_close img  {
  opacity: 0.5;
}
.wtite_us_icon_close img:hover,
.wtite_us_icon_close img:focus,
.map_big_icon_close img:hover,
.map_big_icon_close img:focus  {
  opacity: 1;
}
.wtite_us_icon_close img:active,
.map_big_icon_close img:active  {
  opacity: 0.3;
}
.login_link {
  position: relative;
}
.login_link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -25px;
  width: 13px;
  height: 12px;
  background-image: url("../img/svg/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user_link {
  position: relative;
}
.user_link::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -25px;
  width: 16px;
  height: 15px;
  background-image: url("../img/svg/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.compare_link {
  position: relative;
}
.compare_link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -21px;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../img/svg/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart_link {
  position: relative;
}
.cart_link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -21px;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/svg/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.item_carriers {
  position: relative;
  margin-left: 35px;
}
.item_carriers:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  width: 4px;
  height: 4px;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
}

.breadcrumbs_item {
  position: relative;
}
.breadcrumbs_item:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -22px;
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/png/nav-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter_range {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}
.filter_range_control {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
.filter_range_scale {
  width: 201px;
  height: 2px;
  background-color: #dbdbdb;
}
.filter_range_bar {
  width: 60%;
  height: 2px;
  background-color: #91c92f;
}
.filter_range_toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 12px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px #dadada;
  cursor: pointer;
}
.filter_range_toggle:active {
  position: absolute;
  bottom: -10px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 15px solid #ffffff;
}
.filter_range_toggle_min {
  bottom: -7px;
  left: -4px;
}
.filter_range_toggle_max {
  bottom: -7px;
  left: 109px;
}
.filter_range_label {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy-Light", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
}
.filter_range_input {
  width: 50px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.filter_range {
  margin-top: 20px;
}
.filter_range_price label {
  margin-top: 5px;
  margin-right: 60px;
}
.filter_item input + label {
  position: relative;
  padding: 0;
  padding-left: 40px;
}
.filter_item input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.filter_item input[type="checkbox"] + label:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
  width: 20px;
  height: 19px;
  border: 2px solid #000000;
  border-radius: 15%;

}
.filter_item input[type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
	bottom: -4px;
  left: 0px;
  display: none;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox_on.svg");
}
.filter_item input[type="checkbox"]:checked + label:before {
  display: none;
}

.filter_item input[type="checkbox"]:checked + label:after {
  display: block;
}
.filter_item input[type="checkbox"]:hover + label:before,
.filter_item input[type="checkbox"]:checked:hover + label:after,
.filter_item input[type="checkbox"]:hover + label,
.filter_item input[type="checkbox"]:checked:hover + label {
  opacity: 0.6;
}
.filter_item input[type="checkbox"]:active + label:before,
.filter_item input[type="checkbox"]:checked:active + label:after,
.filter_item input[type="checkbox"]:checked:active + label {
  opacity: 1;
}
.filter_item input[type="checkbox"]:disabled + label:before,
.filter_item input[type="checkbox"]:disabled + label:after,
.filter_item input[type="checkbox"]:disabled + label {
  opacity: 0.25;
}
.filter_item input[type="radio"] + label:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 4px solid #000000;
  border-radius: 12.5px;
}
.filter_item input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  display: none;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 4.5px;
}
.filter_item input[type="radio"]:checked + label:after {
  display: block;
}
.filter_item input[type="radio"]:hover + label:before,
.filter_item input[type="radio"]:checked:hover + label:before,
.filter_item input[type="radio"]:checked:hover + label:after,
.filter_item input[type="radio"]:hover + label {
  opacity: 0.6;
}
.filter_item input[type="radio"]:active + label:before,
.filter_item input[type="radio"]:checked:active + label:before,
.filter_item input[type="radio"]:checked:active + label:after,
.filter_item input[type="radio"]:checked:active + label {
  opacity: 1;
}
.filter_item input[type="radio"]:disabled + label:before,
.filter_item input[type="radio"]:disabled + label:after,
.filter_item input[type="radio"]:disabled + label {
  opacity: 0.25;
}
.slyde1_description_number,
.slyde2_description_number,
.slyde3_description_number {
  position: relative;
}
.slyde1_description_number:before,
.slyde2_description_number:before,
.slyde3_description_number:before {
  position: absolute;
  content: "";
  top: -15px;;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}
.info_device_link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 260px;
  height: 40px;
  padding: 0px;
  margin-top: 60px;
  outline: none;
}
.info_device_link:before {
  position: absolute;
  content: "";
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}
.info_device_link:hover,
.info_device_link:focus {
  background-color: #f0c52e;
}
.info_device_link:active a {
  color: #a88a20;
}
.excerpt_about_us,
.excerpt_location {
  position: relative;
}
.excerpt_about_us:before,
.excerpt_location:before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0px;
  width: 80px;
  height: 8px;
  background-color: #000000;
}
.write_us_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 40px;
  padding: 0px;
  outline: none;
}
.write_us_button:before {
  position: absolute;
  content: "";
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}
.write_us_button:hover,
.write_us_button:focus {
  background-color: #f0c52e;
}
.write_us_button:active button {
  color: #a88a20;
}
.footer_other_sites {
  position: relative;
}
.footer_other_sites:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 20px;
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}
.sidebar_show_link button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.sidebar_show_link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 40px;
  padding: 0px;
  margin: 40px 0px;
  outline: none;
}
.sidebar_show_link:before {
  position: absolute;
  content: "";
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
}
.sidebar_show_link:hover,
.sidebar_show_link:focus {
  background-color: #f0c52e;
}
.sidebar_show_link:active button {
  color: #a88a20;
}
.form_in_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 220px;
  height: 40px;
  padding: 0px;
  margin: 40px 0px;
  outline: none;
}
.form_in_cart:before {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
}
.form_in_cart:hover,
.form_in_cart:focus {
  background-color: #f0c52e;
}
.form_in_cart:active button{
  color: #a88a20;
}
.form_compare button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #7f7f7f;
}
.form_compare:hover button,
.form_compare:focus button {
  color: #000000;
}
.form_compare:active button{
  color: #cccccc;
}
.modal_write_us {
  display: none;
  position: absolute;
  top: 1056px;
  left: 50%;
  margin-left: -480px;
  background-color: #ffffff;
  z-index: 1;
}
.modal_write_us_show {
  display: block;
  position: absolute;
  top: 1056px;
  left: 50%;
  margin-left: -480px;
  background-color: #ffffff;
  z-index: 1;
}
.modal_map_big {
  display: none;
  position: absolute;
  top: 1852px;
  left: 50%;
  margin-left: -480px;
  background-color: #ffffff;
}
.modal_map_big_show {
  display: block;
  position: absolute;
  top: 1852px;
  left: 50%;
  margin-left: -480px;
  background-color: #ffffff;
}
.services-slider {
  position: relative;
}
.services-slider::before {
  content: "";
  position: absolute;
  top: 163px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 164px);
  background-color: #e5e5e5;
}
.services_slider_wrap {
  z-index: 1;
  display: flex;
  padding-bottom: 118px;
}
.services_slider_item {
  position: relative;
  order: 2;
  width: 460px;
  margin-left: 120px;
  padding-top: 136px;
}
.services_slider_item_delivery::before {
  content: "";
  position: absolute;
  top: 148px;
  right: -234px;
  z-index: 0;
  width: 136px;
  height: 164px;
  background-image: url("../img/svg/delivery.svg");
  background-repeat: no-repeat;
}
.services_slider_item_warranty {
  margin-left: 121px;
}
.services_slider_item_warranty::before {
  content: "";
  position: absolute;
  top: 124px;
  right: -253px;
  z-index: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/svg//warranty.svg");
  background-repeat: no-repeat;
}
.services_slider_item_credit::before {
  content: "";
  position: absolute;
  top: 124px;
  right: -258px;
  z-index: 0;
  width: 156px;
  height: 188px;
  background-image: url("../img/svg/credit.svg");
  background-repeat: no-repeat;
}
.services_slider_item_credit {
  width: 430px;
}
.services_slider_item h3 {
  margin: 0;
  padding-bottom: 31px;
}
.services_slider_item p {
  margin: 0;
  color: #525252
}
.services_slider_controls {
  position: relative;
  padding-top: 142px;
  padding-right: 120px;
}
.services_slider_controls::before {
  content: "";
  position: absolute;
  top: 63px;
  right: -4px;
  width: 7px;
  height: calc(100% - 15px);
  background-color: #000000;
}
.services_slider_control {
  position: relative;
  z-index: 1;
  display: block;
  order: 1;
  width: 160px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy-Extrabold", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.services_slider_control::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 170px;
  height: 8px;
  margin-top: -4px;
  background-color: #f0c52e;
}
.services_slider_control::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  width: 0;
  height: 40px;
  background-color: #000000;
}
.services_slider_control:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: all 0.3s linear;
}
.services_slider_input:focus ~ .services_slider_controls label {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
.services_slider_input[id="services-control-1"]:checked ~ .services_slider_controls label[for="services-control-1"],
.services_slider_input[id="services-control-2"]:checked ~ .services_slider_controls label[for="services-control-2"],
.services_slider_input[id="services-control-3"]:checked ~ .services_slider_controls label[for="services-control-3"] {
  color: #f7e184;
}
.services_slider_input[id="services-control-1"]:checked ~ .services_slider_controls label[for="services-control-1"]::before {
  top: 1px;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.3s linear;
}
.services_slider_input[id="services-control-1"]:checked ~ .services_slider_controls label[for="services-control-1"]::after {
  top: 1px;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.3s linear;
}
.services_slider_input[id="services-control-2"]:checked ~ .services_slider_controls label[for="services-control-2"]::before {
  top: 0;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.3s linear;
}
.services_slider_input[id="services-control-2"]:checked ~ .services_slider_controls label[for="services-control-2"]::after {
  top: 0;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.3s linear;
}
.services_slider_input[id="services-control-3"]:checked ~ .services_slider_controls label[for="services-control-3"]::before {
  top: 0;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.3s linear;
}
.services_slider_input[id="services-control-3"]:checked ~ .services_slider_controls label[for="services-control-3"]::after {
  top: 0;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.3s linear;
}
.services_slider_input[id="services-control-2"]:checked ~ .services_slider_controls label[for="services-control-2"]::before,
.services_slider_input[id="services-control-3"]:checked ~ .services_slider_controls label[for="services-control-3"]::before,
.services_slider_input[id="services-control-1"]:checked ~ .services_slider_controls label[for="services-control-1"]::before,
.services_slider_input[id="services-control-2"]:checked ~ .services_slider_controls label[for="services-control-2"]::before,
.services_slider_input[id="services-control-3"]:checked ~ .services_slider_controls label[for="services-control-3"]::before {
  display: block;
}
.services_slider_input[id="services-control-1"]:checked ~ .services_slider_item_warranty,
.services_slider_input[id="services-control-1"]:checked ~ .services_slider_item_credit,
.services_slider_input[id="services-control-2"]:checked ~ .services_slider_item_delivery,
.services_slider_input[id="services-control-2"]:checked ~ .services_slider_item_credit,
.services_slider_input[id="services-control-3"]:checked ~ .services_slider_item_delivery,
.services_slider_input[id="services-control-3"]:checked ~ .services_slider_item_warranty {
  display: none;
}
.services_slider_item h3 {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: normal;
}
.promo_slider {
  width: 1039px;
  min-height: 340px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  min-height: 550px;
  padding-bottom: 50px;
}
.promo_slider_item {
  position: relative;
  display: flex;
  margin-top: -110px;
}
.promo_slider_img_wrap {
  width: 560px;
  margin-right: 40px;
  text-align: center;
}
.promo_slider_img_wrap_01 img {
  width: 384px;
  height: 486px;
  margin-top: -1px;
  margin-left: 5px;
}
.promo_slider_img_wrap_02 img {
  width: 345px;
  height: 485px;
  margin-top: 12px;
  margin-left: 16px;
}
.promo_slider_img_wrap_03 img {
  width: 526px;
  height: 334px;
  margin-top: 65px;
  margin-left:-50px;
}
.promo_slider_descr_wrap {
  position: relative;
  width: 560px;
  padding-top: 78px;
}
.promo_slider_descr_wrap::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}
.promo_slider_descr_wrap::after {
  content: "";
  position: absolute;
  top: -15px;
  right: -25px;
  z-index: -1;
  font-weight: normal;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy-Extrabold", "Arial", sans-serif;
  color: #ffffff;
}
.promo_slider_descr_wrap_1::after {
  content: "01";
}
.promo_slider_descr_wrap_2::after {
  content: "02";
  right: -20px;
}
.promo_slider_descr_wrap_3::after {
  content: "03";
  right: -20px;
}
.promo_slider_descr_wrap b {
  display: block;
  padding-bottom: 19px;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 56px;
  font-weight: normal;
}
.promo_slider_descr_wrap p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #464646;
}
.promo_slider_descr_wrap_1 p {
  width: 490px;
}
.promo_slider_descr_wrap_2 p,
.promo_slider_descr_wrap_3 p {
  width: 460px;
}
.slyde_description_link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  padding: 0px;
  margin: 40px 0px;
  outline: none;
}
.slyde_description_link:before {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}
.slyde_description_link:hover,
.slyde_description_link:focus {
  background-color: #f0c52e;
}
.slyde_description_link:active a {
  color: #a88a20;
}
.promo_slider_controls {
  position: absolute;
  right: 5px;
  top: 320px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 78px;
}
.promo_slider_control {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;
}
.promo_slider_control::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 3px;
}
.promo_slider_input:focus ~ .promo_slider_controls label {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
.promo_slider_input[id="promo-control-1"]:checked ~ .promo_slider_controls label[for="promo-control-1"]::before,
.promo_slider_input[id="promo-control-2"]:checked ~ .promo_slider_controls label[for="promo-control-2"]::before,
.promo_slider_input[id="promo-control-3"]:checked ~ .promo_slider_controls label[for="promo-control-3"]::before {
  display: block;
}
.promo_slider_input[id="promo-control-1"]:checked ~ .promo_slider_item_2,
.promo_slider_input[id="promo-control-1"]:checked ~ .promo_slider_item_3,
.promo_slider_input[id="promo-control-2"]:checked ~ .promo_slider_item_1,
.promo_slider_input[id="promo-control-2"]:checked ~ .promo_slider_item_3,
.promo_slider_input[id="promo-control-3"]:checked ~ .promo_slider_item_1,
.promo_slider_input[id="promo-control-3"]:checked ~ .promo_slider_item_2 {
  display: none;
}
.promo_slider_advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.promo_slider_advantages_1 {
  width: 460px;
}
.promo_slider_advantages_2 {
  width: 200px;
}
.promo_slider_advantages_3 {
  width: 300px;
}
.promo_slider_advantages_col {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy-light", "Arial", sans-serif;
  color: #000000;
}
.promo_slider_advantages_descr {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: #464646;
}
.promo_slider_advantages_col_first {
  width: 160px;
}
.promo_slider_advantages_col_second {
  width: 140px;
}
.promo_slider_advantages_col_third {
  flex-grow: 1;
  width: 160px;
}
.promo_slider_advantages_descr_first {
  width: 160px;
}
.promo_slider_advantages_descr_second {
  width: 140px;
}
.promo_slider_advantages_descr_third {
  flex-grow: 1;
  width: 160px;
}
.promo_slider_advantages_2 .promo_slider_advantages_col_first {
  flex-grow: 1;
}
