@font-face {
  font-family: "OpenSans-Light";
  src: url("fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #464646;
}
a {
  text-decoration: none;
}
.header_index {
  background-color: rgb(247, 226, 150);
}
.header_catalog {
  background-color: rgb(247, 226, 150);
}
footer {
  background-color: rgb(70, 70, 70);
}
.user_navigation_header li,
.user_navigation_header_catalog li,
.main_navigation_header li,
.dropdown li,
.servis_navigation_footer li,
.user_navigation_footer li,
.user_navigation_footer_catalog li {
  list-style: none;
}
.user_navigation_header a,
.user_navigation_header_catalog a,
.main_navigation_header a,
.dropdown a {
  color: #000000;
}
.main_navigation_header a {
  text-transform: uppercase;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}
.servis_navigation_footer {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.user_navigation_header:hover,
.user_navigation_header:focus,
.user_navigation_header_catalog:hover,
.user_navigation_header_catalog:focus {
  color: #635a3c;
}
.main_navigation_header:hover,
.main_navigation_header:focus {
  color: #635a3c;
}
.user_navigation_header:active,
.user_navigation_header_catalog:active,
.catalog_user_exit,
.main_navigation_header:active {
  color: #ac9e69;
}
.dropdown {
  line-height: 36px;
}
.dropdown li:hover,
.dropdown li:focus {
  color: #635a35;
}
.dropdown li:active {
  color: #ac9d5c;
}
.servis_navigation_footer a {
  color: #ffffff;
}
.logo_device_header img:hover,
.logo_device_header img:focus,
.logo_device_footer img:hover,
.logo_device_footer img:focus,
.user_navigation_header a:hover,
.user_navigation_header a:focus,
.user_navigation_header_catalog a:hover,
.user_navigation_header_catalog a:focus,
.main_navigation_header a:hover,
.main_navigation_header a:focus,
.dropdown a:hover,
.dropdown a:focus,
.servis_navigation_footer a:hover,
.servis_navigation_footer a:focus,
.logo_html img:hover,
.logo_html img:focus {
  opacity: 0.6;
}
.logo_device_header:active,
.logo_device_footer:active,
.user_navigation_header a:active,
.user_navigation_header_catalog a:active,
.catalog_user_exit a,
.main_navigation_header a:active,
.dropdown a:active,
.servis_navigation_footer a:active,
.logo_html:active {
  opacity: 0.3;
}
.search_form input{
  color: #ac9e69;
  opacity: 0.3;
  height: 45px;
}
.search_form input:hover {
  color: #635a3c;
  opacity: 0.6;
}
.search_form input:focus {
  color: #000000;
  opacity: 1;
}
.seach_button {
  border: 2px solid #000000;
  width: 81px;
  height: 45px;
  color: #000000;
  background: transparent;
}
.seach_button:hover,
.seach_button:focus {
  border: 2px solid #000000;
  width: 81px;
  height: 45px;
  color: #ffffff;
  background-color: #000000;
}
.seach_button:active {
  border: 2px solid #000000;
  width: 81px;
  height: 45px;
  color: #4d4d4d;
  background-color: #000000;
}
.user_navigation_footer a,
.user_navigation_footer_catalog a {
  color: #c8c8c8;
  opacity: 0.7;
}
.user_navigation_footer a:hover,
.user_navigation_footer a:focus,
.user_navigation_footer_catalog a:hover,
.user_navigation_footer_catalog a:focus {
  color: #ffffff;
}
.user_navigation_footer a:active,
.user_navigation_footer_catalog a:active {
  color: #7e7e7e;
  opacity: 0.3;
}
.user_navigation_footer img:active,
.user_navigation_footer_catalog img:active {
  opacity: 0.3;
}
.user_navigation_footer img:hover,
.user_navigation_footer img:focus,
.user_navigation_footer_catalog img:hover,
.user_navigation_footer_catalog img:focus {
  opacity: 0.6;
}
.catalog_user_exit_footer a {
  color: #7e7e7e;
  opacity: 0.3;
}
.footer_index p,
.footer_catalog p {
  color: #ffffff;
}
.social img {
  opacity: 0.3;
}
.social img:hover,
.social img:focus {
  opacity: 0.6;
}
.social img:active {
  opacity: 0.1;
}
.search_form input {
  color: #ac9e69;
  width: 356px;
  background: transparent;
  border: none;
  opacity: 0.3;
}
.search_form input:hover {
  color: #000000;
  width: 356px;
  background: transparent;
  border: none;
  opacity: 0.6;
}
.search_form input:focus {
  color: #000000;
  width: 356px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
}
.search_form_button {
  background: transparent;
  border: none;
}
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page_title_catalog {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: #000000;
}
.breadcrumbs li {
  list-style: none;
}
.breadcrumbs a {
  color: #b2b2b2;
  opacity: 0.3;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #666666;
  opacity: 0.6;
}
.breadcrumbs a:active {
  color: #e5e5e5;
  opacity: 0.3;
}
.breadcrumbs_actual {
  color: #b2b2b2;
  opacity: 0.3;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.catalog_list_control {
  color: #000000;
  font-family: "OpenSans-Regular", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}
.catalog_list_control ul {
  list-style: none;
}
.catalog_list_control button {
  background: transparent;
  border: none;
}
.catalog_sort {
  list-style: none;
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.catalog_list_neactual {
  color: #a4a4a4;
  opacity: 0.3;
}
.catalog_list_actual button:hover,
.catalog_list_actual button:focus {
  color: #666666;
  opacity: 0.6;
}
.catalog_list_actual button:active {
  color: #000000;
  opacity: 1;
}
.catalog_list_actual button:link {
  color: #000000;
  opacity: 1;
}
.catalog_items_filter_container h3 {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.catalog_items_filter_container label {
  color: #000000;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
}
.catalog_items_filter_container button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
}
.catalog-category {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-price {
  color: #464646;
  font-family: "Gilroy-Light", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}
.info_device h2 {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
}
.info_device p {
  color: #525252;
}
.list_carriers {
  color: #000000;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-weight: bold;
}
.info_device a {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}
.index_slyde1 h4,
.index_slyde2 h4,
.index_slyde3 h4 {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;
}
.table_value td {
  color: #000000;
  font-family: "Gilroy-Light", "Gill Sans", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
}
.table_property td {
  color: #464646;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}
.index_slyde1 a,
.index_slyde2 a,
.index_slyde3 a {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}
.index_range {
  list-style: none;
}
.index_range_category {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.index_range_category:active {
  color: #b2b2b2;
  opacity: 0.3;
}
.index_range_icon {
  background-color: #f7e296;
  width: 160px;
  height: 160px;
}
.index_range_icon:hover,
.index_range_icon:focus {
  background-color: #f0c52e;
}
.index_range_icon:active {
  background-image: url(../img/png/index_range_hover.png);
}
.index_range_icon img:active {
  opacity: 0.3;
}
.index_servis {
  background-color: #e5e5e5;
}
.index_servis_list {
  list-style: none;
}
.index_servis a {
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.index_servis a:active {
  color: #f7e184;
}
.index_servis h2{
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
}
.logo_partner {
  list-style: none;
}
.logo_partner_dj img:hover,
.logo_partner_dj img:focus {
  background-image: url(../img/png/logo_1_hover.png);
}
.logo_partner_spgadgets img:hover,
.logo_partner_spgadgets img:focus {
  background-image: url(../img/png/logo_2_hover.png);
}
.logo_partner_gopro img:hover,
.logo_partner_gopro img:focus {
  background-image: url(../img/png/logo_3_hover.png);
}
.logo_partner_vive img:hover,
.logo_partner_vive img:focus {
  background-image: url(../img/png/logo_4_hover.png);
}
.pagination {
  background-image: url(../img/png/pagination.png);
}
.pagination-list {
  list-style: none;
}
.pagination-list a {
  text-transform: uppercase;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.pagination-list button {
  background: transparent;
  border: none;
  color: #000000;
  text-transform: uppercase;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.pagination_list_neactual a {
  color: #a4a4a4;
  opacity: 0.3;
}
.pagination_list_actual a {
  color: #000000;
}
.header_index_container {
  width: 1160px;
  min-height: 299px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7e296;
}
.header_catalog_container {
  width: 1160px;
  min-height: 186px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7e296;
}
.header_index,
.header_catalog {
  width: 1039px;
  min-height: 100px;
  padding-right: 61px;
  padding-left: 60px;
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo_device_header {
  margin-top: -19px;
  margin-right: 938px;
  margin-left: auto;
}
.user_navigation_header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.user_navigation_header_catalog {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.user_navigation_header li:nth-child(2) {
  margin-right: 41px;
  margin-left: 218px;
}
.user_navigation_header_catalog li:nth-child(2) {
  margin-left: 20px;
}
.user_navigation_header_catalog li:nth-child(3) {
  margin-right: 41px;
  margin-left: 65px;
}
.main_navigation_header {
  padding: 0;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main_navigation_header li:nth-child(2) {
  margin-right: 38px;
  margin-left: 340px;
}
.main_navigation_header li:nth-child(3) {
  margin-right: 114px;
}
.plus img{
  margin-bottom: -2px;
}
.dropdown  ul {
  padding: 0;
  margin: 0;
}
.dropdown {
  width: 1039px;
  min-height: 90px;
  padding-right: 61px;
  padding-bottom: 30px;
  padding-left: 60px;
  margin-top: auto;
  background-color: #f7e296;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-self: flex-end;
}
.dropdown ul:first-child {
  width: 239px;
}
.dropdown ul:nth-child(2) {
  width: 200px;
}
.dropdown_catalog {
margin: 0 auto;
}
.info_device {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.info_device h2,
.info_device p,
.info_device ul {
  margin: 0;
  padding: 0;
}
.excerpt_container {
  width: 560px;
  min-height: 464px;
  padding-top: 0;
  padding-bottom: 95px;
}
.excerpt_about_us_img {
  margin: 0;
  padding: 0;
}
.excerpt_container h2 {
  margin-top: 40px;
  margin-bottom: 60px;
}
.info_device ul {
  list-style: none;
}
.list_carriers img {
  margin-right: 26px;
}
.info_device_link {
  padding-top: 75px;
}
.excerpt_content_container,
.excerpt_location_container {
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.excerpt_content_container {
  width: 461px;
}
.excerpt_location_container {
  width: 560px;
}
.footer_index,
.footer_catalog {
  min-height: 323px;
  padding-top:65px;
  padding-bottom: 65px;
}
.footer_index_container,
.footer_catalog_container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
.servis_navigation_footer,
.footer_index_container p,
.footer_catalog_container p {
  margin-top: 40px;
  margin-bottom: 70px;
}
.user_navigation_footer,
.user_navigation_footer_catalog {
  min-width: 925px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.user_navigation_footer li:nth-child(2) {
  margin-right: 41px;
  margin-left: 44px;
}
.user_navigation_footer_catalog li:nth-child(2) {
  margin-right: 44px;
  margin-left: 20px;
}
.user_navigation_footer_catalog li:nth-child(3) {
  margin-right: 41px;
}
.servis_navigation_footer {
  padding: 0;
  margin-top: 30px;
  margin-right: 206px;
  margin-left: 166px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.servis_navigation_footer li:nth-child(2) {
  margin-right: 38px;
  margin-left: 38px;
}
.social {
  width: 141px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 483px;
  margin-left: 429px;
}
.social a:nth-child(2) {
  margin-right: 22px;
  margin-left: 22px;
}
.line-footer img {
  margin-top: 80px;
}
.catalog_container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.catalog_title {
  width: 1038px;
  min-height: 179px;
  margin: 0 201px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.catalog_title h1{
  margin-bottom: 0;
}
.breadcrumbs {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.breadcrumbs li {
  margin-right: 40px;
}
.catalog_main_content {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.catalog_items_filter {
  width: 468px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
.catalog_sort_container {
  padding-top: 10px;
  width: 270px;
  padding-left: 198px;
  background-color: #dcdcdc;
  height: 60px;
}
.catalog_items_filter_container {
  width: 270px;
  padding-left: 198px;
  background-color: #efefef;
  min-height: 1217px;
}
.catalog_content_container {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.catalog_list_control {
  background-color: rgb(235, 235, 235);
  padding-right: 140px;
  width: 832px;
  height: 70px;
}
.catalog_list_control_container {
  width: 760px;
  margin-top: 23px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.catalog_list_control_container li:nth-child(2) {
  margin-left: 55px;
  margin-right: 29px;
}
.catalog_list_control_container li:nth-child(4) {
  margin-left: 31px;
  margin-right: 32px;
}
.catalog_list_control_container li:nth-child(5) {
  margin-left: auto;
}
.catalog_list_control_container li:nth-child(6) {
  margin-left: 20px;
}
.catalog {
  padding-top: 20px;
  padding-left: 73px;
  padding-bottom: 50px;
  width: 760px;
  min-height: 1147px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog_item {
  padding-top: 30px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.new_item  {
  width: 360px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon_new {
  width: 60px;
  height: 60px;
  margin-top: -350px;
  margin-right: 30px;
  margin-left: auto;
}
.text_new {
  margin-top: -52px;
  margin-left: 16px;
  text-transform: uppercase;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #bfbfbf;
}
.catalog_items_info {
  min-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.catalog_items_info h3 {
  width: 230px;
}
.pagination {
  background-color: rgb(235, 235, 235);
  width: 760px;
  height: 70px;
  margin-left: 20px auto;
}
.pagination-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.pagination-list li:nth-child(3) {
  margin-left: 30px;
  margin-right: 30px;
}
.pagination-list li:nth-child(2) {
  margin-left: auto;
}
.pagination-list li:nth-child(4) {
  margin-right: auto;
}
.pagination-list li:nth-child(5) {
  margin-right: 40px;
}
.index_slyde1_container,
.index_slyde2_container,
.index_slyde3_container {
  width: 1039px;
  min-height: 481px;
  margin: 0 auto;
  padding-right: 61px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.index_slyde1,
.index_slyde2,
.index_slyde3 {
  width: 1039px;
  min-height: 591px;
  margin-top: -110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.index_slyde1_photo,
.index_slyde2_photo,
.index_slyde3_photo {
  width: 509px;
  display: flex;
  align-items: flex-start;
}
.index_slyde1_photo img {
  margin-left: 30px;
}
.index_slyde2_photo img {
  margin-top: 10px;
  margin-left: 50px;
}
.index_slyde3_photo img {
  margin-top: 60px;
  margin-left: -30px;
}
.slyde1_description_container,
.slyde2_description_container,
.slyde3_description_container {
  width: 500px;
  min-height: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.slyde1_description_upper,
.slyde2_description_upper,
.slyde3_description_upper {
  width: 500px;
  min-height: 216px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slyde1_description_number,
.slyde2_description_number,
.slyde3_description_number {
  margin-top: 50px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-family: "Gilroy-Extrabold", "Gill Sans", sans-serif;
  font-weight: bold;
  font-size: 180px;
}
.slyde1_description_name,
.slyde2_description_name,
.slyde3_description_name {
  width: 500px;
}
.slyde1_description_name h4,
.slyde2_description_name h4,
.slyde3_description_name h4 {
  margin: 0;
}
.slyde1_description-info,
.slyde2_description-info,
.slyde3_description-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.slyde1_description_link,
.slyde2_description_link ,
.slyde3_description_link  {
  width: 500px;
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.slyde1_description_table,
.slyde2_description_table,
.slyde3_description_table {
  width: 500px;
  align-self: flex-end;
}
.slyde_table td {
  width: 160px;
}
table {
  margin: 0;
  padding: 0;
}
.index_range {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
  display: flex;
}
.index_range_icon_container {
  width: 160px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.index_range_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_range_icon_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.index_range_icon_container:not(:last-child) {
  margin-right: 40px;
}
.logo_partner {
  width: 1160px;
  min-height: 288px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_servis {
  min-height: 286px;
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.index_servis_container {
  width: 1160px;
  min-height: 319px;
  padding: 0;
  margin-top: -100px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.index_servis_list {
  width: 284px;
  min-height: 159px;
  padding: 70px 0;
  margin: 0;
  border-right: 7px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index_servis_item_1 {
  width: 265px;
  height: 40px;
  padding-left: 19px;
  background-color: #000000;
  display: flex;
  align-items: center;
}
.index_servis_item {
  padding-left: 19px;
}
.index_servis_item a {
  letter-spacing: 5px;
}
.index_servis_item_1 a {
  color: #f7e184;
  letter-spacing: 5px;
}
.servis_delivery_container,
.servis_warrant_container,
.servis_credit_container {
  width: 857px;
  min-height: 319px;
  display: flex;
  justify-content: space-between;
}
.delivery,
.warrant,
.credit {
  width: 425px;
  margin: 0;
  margin-top: 25px;
  margin-left: 117px;
}
.servis_delivery_container img,
.servis_warrant_container img,
.servis_credit_container img {
  margin-top: 80px;
  margin-right: 69px;
}